<section class="blog-head">
  <p>Our Blog</p>
  <h2>Stories and Ideas</h2>
</section>

<section class="blog-content">
  <div class="cardView-xl">
    <img src="./../../../assets/blog/blog_1.jpg" />
    <div class="cardView-content">
      <h3>5 Tips to Keep Your Sneakers Looking Brand New</h3>
      <p>
        Dive into the secrets of sneaker maintenance. From cleaning techniques
        to storage hacks, we'll show you how to keep your kicks looking fresh
        for longer.
      </p>
    </div>
  </div>
  <div class="card-column">
    <div class="cardView-xxl">
      <img src="./../../../assets/blog/blogNews-1.jpg" />
      <div class="cardView-content">
        <h3>5 Tips to Keep Your Sneakers Looking Brand New</h3>
        <p>
          Dive into the secrets of sneaker maintenance. From cleaning techniques
          to storage hacks, we'll show you how to keep your kicks looking fresh
          for longer.
        </p>
      </div>
    </div>
    <div class="cardView-xxl">
      <img src="./../../../assets/blog/blogNews-2.jpg" />
      <div class="cardView-content">
        <h3>5 Tips to Keep Your Sneakers Looking Brand New</h3>
        <p>
          Dive into the secrets of sneaker maintenance. From cleaning techniques
          to storage hacks, we'll show you how to keep your kicks looking fresh
          for longer.
        </p>
      </div>
    </div>
    <div class="cardView-xxl">
      <img src="./../../../assets/blog/blogNews-3.jpg" />
      <div class="cardView-content">
        <h3>5 Tips to Keep Your Sneakers Looking Brand New</h3>
        <p>
          Dive into the secrets of sneaker maintenance. From cleaning techniques
          to storage hacks, we'll show you how to keep your kicks looking fresh
          for longer.
        </p>
      </div>
    </div>
  </div>
</section>
