.card-container {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.152);
  width: 400px;
  display: flex;
  gap: 20px;
  border-radius: 6px;
  padding: 16px;
  position: relative;
  background: linear-gradient(
      45deg,
      #0000 calc(25% / 3),
      #fbfbfb 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #fbfbfb 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
      45deg,
      #fbfbfb calc(25% / 3),
      #0000 0 calc(50% / 3),
      #fbfbfb 0 25%,
      #0000 0 75%,
      #fbfbfb 0 calc(250% / 3),
      #0000 0 calc(275% / 3),
      #fbfbfb 0
    ),
    linear-gradient(
      -45deg,
      #0000 calc(25% / 3),
      #fbfbfb 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #fbfbfb 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
        -45deg,
        #fbfbfb calc(25% / 3),
        #0000 0 calc(50% / 3),
        #fbfbfb 0 25%,
        #0000 0 75%,
        #fbfbfb 0 calc(250% / 3),
        #0000 0 calc(275% / 3),
        #fbfbfb 0
      )
      #ffffff;
  background-size: 200px 200px;
  background-position: 0 0, 100px 100px;

  .card-heart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;

    i {
      font-size: 20px;
    }

    .heart-selected {
      color: rgb(253, 86, 86);
    }
  }

  img {
    width: 190px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 20px;
  }

  .tags {
    list-style: none;
    padding: 0 !important;
    margin: 4px 0 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;

    li {
      font-size: 10px;
      background-color: black;
      color: white;
      max-width: fit-content;
      padding: 4px 8px;
      border-radius: 50px;
    }
  }

  .name-prize {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  h3 {
    font-size: 16px;
    font-weight: 800;
  }

  p {
    font-size: 12px;
  }

  .colors {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;
      margin: 0 !important;
      padding: 0 !important;
    }

    li {
      width: 12px;
      height: 12px;
      border-radius: 50px;
    }

    p {
      font-size: 14px !important;
      font-weight: 700 !important;
    }

    .red {
      background-color: rgb(247, 97, 97);
    }

    .blue {
      background-color: rgb(122, 122, 249);
    }

    .hotpink {
      background-color: hotpink;
    }

    .color-active {
      border: 2px solid rgb(46, 46, 46);
    }
  }
}

@media only screen and (max-width: 895px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    padding: 10px;
  }
}
