<main>
  <section class="home-content">
    <section>
      <p>From sneakers to sandals, we've got your feet covered.</p>
      <h2>
        Step into Your Next Adventure<br />
        with SoleJourney!
      </h2>
    </section>

    <section class="carousal-sec">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./../../../assets/img/carousal-1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="./../../../assets/img/carousal-2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="./../../../assets/img/carousal-3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <i class="fa-solid fa-caret-left"></i>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <i class="fa-solid fa-caret-right"></i>
        </button>
      </div>
    </section>
  </section>

  <section class="filter-bar">
    <div class="filter-list">
      <p class="filter-active">
        <i class="fa-solid fa-border-all"></i> &nbsp; All
      </p>
      <p (click)="filterShoes('Mens')">
        <i class="fa-solid fa-child"></i> &nbsp; Mens
      </p>
      <p (click)="filterShoes('Womens')">
        <i class="fa-solid fa-child-dress"></i> &nbsp; Womens
      </p>
      <p (click)="filterShoes('Unisex')">
        <i class="fa-solid fa-child-reaching"></i> &nbsp; Unisex
      </p>
      <p><i class="fa-solid fa-socks"></i> &nbsp; Accessories</p>
      <p><i class="fa-solid fa-star"></i> &nbsp; Specialty</p>
    </div>
    <p class="filter-icon">
      <i class="fa-solid fa-filter"></i> &nbsp;&nbsp; <span>Filter</span>
    </p>
  </section>

  <section class="products">
    <ng-container *ngFor="let data of filteredShoes">
      <app-product-card
        [imageInput]="data.image"
        [brand]="data.brand"
        [prize]="data.prize"
        [type]="data.type"
        [discount]="data.discount"
        [badgeInput]="data.badges"
        [color]="data.colors"
      ></app-product-card>
    </ng-container>
  </section>
</main>
