main {
  .home-content {
    display: flex;
    gap: 26px;
    padding: 20px 30px 24px 30px;

    section:nth-child(1) {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.131);
      width: 100%;
      border-radius: 6px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      text-align: center;
      background: linear-gradient(
          45deg,
          #0000 calc(25% / 3),
          #fbfbfb 0 calc(50% / 3),
          #0000 0 calc(250% / 3),
          #fbfbfb 0 calc(275% / 3),
          #0000 0
        ),
        linear-gradient(
          45deg,
          #fbfbfb calc(25% / 3),
          #0000 0 calc(50% / 3),
          #fbfbfb 0 25%,
          #0000 0 75%,
          #fbfbfb 0 calc(250% / 3),
          #0000 0 calc(275% / 3),
          #fbfbfb 0
        ),
        linear-gradient(
          -45deg,
          #0000 calc(25% / 3),
          #fbfbfb 0 calc(50% / 3),
          #0000 0 calc(250% / 3),
          #fbfbfb 0 calc(275% / 3),
          #0000 0
        ),
        linear-gradient(
            -45deg,
            #fbfbfb calc(25% / 3),
            #0000 0 calc(50% / 3),
            #fbfbfb 0 25%,
            #0000 0 75%,
            #fbfbfb 0 calc(250% / 3),
            #0000 0 calc(275% / 3),
            #fbfbfb 0
          )
          #ffffff;
      background-size: 200px 200px;
      background-position: 0 0, 100px 100px;

      img {
        width: 250px;
      }

      h2 {
        font-size: 34px;
        font-weight: 800;
        line-height: 40px;
      }

      p {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }

    .carousal-sec {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.156);
      width: 330px;
      border-radius: 6px;

      img {
        border-radius: 6px;
      }

      i {
        font-size: 28px;
      }
    }
  }

  .filter-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 30px;

    .filter-icon {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.195);
      background-color: black;
      color: white;
      border-radius: 54px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
      font-weight: 700;
      padding: 0 18px !important;

      span {
        font-size: 12px !important;
      }
    }

    .filter-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;

      p {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.195);
        border-radius: 54px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 18px !important;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.2px;
        cursor: pointer;
      }

      .filter-active {
        background-color: black;
        color: white;
      }
    }
  }

  .products {
    margin-top: 16px;
    padding: 26px 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
  }

  @media only screen and (max-width: 1330px) {
    .products {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media only screen and (max-width: 895px) {
    .products {
      grid-template-columns: repeat(3, auto);
    }
  }

  @media only screen and (max-width: 800px) {
    .products {
      grid-template-columns: repeat(2, auto);
    }
  }
}
