nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    button {
      background-color: transparent;
      border: none;
    }

    i {
      font-size: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 800;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    a {
      text-decoration: none;
      text-wrap: nowrap;
      font-weight: 500;
      color: black;
      position: relative;
    }

    .link-active:before {
      content: "";
      width: 90%;
      height: 3px;
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      background-color: black;
      border-radius: 50px;
    }
  }

  .nav-menus {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;

    i {
      font-size: 20px;
    }
  }
}
