<nav>
  <div class="logo">
    <button
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <p>SoleJourney</p>
  </div>
  <div class="nav-links">
    <a
      *ngFor="let data of navTitles"
      [routerLink]="data.path"
      [ngClass]="data.navActive ? 'link-active' : ''"
      (click)="navMethod(data.path)"
      >{{ data.title }}</a
    >
  </div>
  <div class="nav-menus">
    <div class="dropdown">
      <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-heart"></i>
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          <p class="dd-Title">Wishlist</p>
          <div class="dd-Items">
            <div class="dd-itemList">
              <div class="dd-itemListTitle">
                <p>Items</p>
                <i class="fa-solid fa-trash"></i>
              </div>
              <img src="./../../../assets/img/Shoe-1.png" />
              <p class="dd-itemName">Blue Snicker Shoe</p>
            </div>
            <div class="dd-itemList">
              <div class="dd-itemListTitle">
                <p>Items</p>
                <i class="fa-solid fa-trash"></i>
              </div>
              <img src="./../../../assets/img/Shoe-1.png" />
              <p class="dd-itemName">Blue Snicker Shoe</p>
            </div>
            <div class="dd-itemList">
              <div class="dd-itemListTitle">
                <p>Items</p>
                <i class="fa-solid fa-trash"></i>
              </div>
              <img src="./../../../assets/img/Shoe-1.png" />
              <p class="dd-itemName">Blue Snicker Shoe</p>
            </div>
          </div>
          <button>View Cart</button>
        </div>
      </div>
    </div>
    <i
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
      class="fa-solid fa-cart-shopping"
    ></i>
  </div>
</nav>

<!-- Navigation Cnavas -->
<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
  style="width: 350px"
>
  <div class="offcanvas-header">
    <p class="offcanvas-title" id="offcanvasScrollingLabel">Categories</p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="leftNav-content" *ngFor="let data of navLeftContent">
      <h3 class="leftNav-title">{{ data.title }}</h3>
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          *ngFor="let dataList of data.list"
        >
          <span>
            <img [src]="'../../../assets/icons/' + dataList.icon" />
            {{ dataList.title }}
          </span>
          <i class="fa-solid fa-caret-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Wishlist Canvas -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <p class="offcanvas-title" id="offcanvasRightLabel"><b>Bag</b></p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">...</div>
</div>
