nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    button {
      background-color: transparent;
      border: none;
    }

    i {
      font-size: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 800;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    a {
      text-decoration: none;
      text-wrap: nowrap;
      font-weight: 500;
      color: black;
      position: relative;
    }

    .link-active:before {
      content: "";
      width: 90%;
      height: 3px;
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      background-color: black;
      border-radius: 50px;
    }
  }

  .nav-menus {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    .dropdown a {
      color: black !important;
    }

    i {
      font-size: 20px;
    }

    .dropdown-cartItem {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
      padding: 4px 10px 10px 10px;

      li {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        text-align: left;
      }

      .dropdown-cartProducts {
        background-color: #f3f3f3;
        padding: 4px;
        border-radius: 6px;
      }

      i {
        font-size: 12px;
        margin-right: 10px;
      }

      .dropdown-cartTitle {
        font-size: 12px;
      }

      .dropdown-item {
        font-size: 14px;
      }

      button {
        width: 100%;
        font-size: 14px;
        border: none;
        padding: 6px 16px !important;
        border-radius: 6px;
        background-color: black;
        color: white;
      }
    }
  }
}
